//color variables

$background-main: #3a4965;
$option-plan: #FAFAFA;
$standart: #89c331;
$ultimate: #f04a56;
$premium: #20807c;
$row_price: #fafafa;
$text-color: #484848;
$title-text: #fff;
$button-text: #FFF;
$light-gray-cells: #f2f2f2;
$grey-cells: #e3e3e3;
$contact-us-background: #ddd;
$buttons-background-table1: #eee;
$bottom--black: #404040;
$bottom--green: #79b027;
$bottom--red: #df3a46;
$bottom--blue: #16736f;
$border: #cfcfcf;














