
// table 1

.buy-now {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  border: 0;
}

.buy-now__bottom {
  content: "";
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.buy-now__bottom--black {
  border-bottom: 9px solid $bottom--black;
}

.buy-now__bottom--green {
  border-bottom: 9px solid $bottom--green;
}

.buy-now__bottom--red {
  border-bottom: 9px solid $bottom--red;
}

.buy-now__bottom--blue {
  border-bottom: 9px solid $bottom--blue;
}

//   table2

.button_buy {
  width: 147px;
  height: 44px;
  color: $button-text;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  @include text-properties(700, 28px, uppercase);
  background: rgba(65, 65, 65, 1);
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  position: relative;
}

.bottom__buy {
  content: "";
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
