.background {
  background-color: $background-main;
}

.pricing-table-one {
  margin: 0 auto;
  width: 1143px;
  height: 681px;
  margin-top: 22px;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.pricing-table__option {
  height: 73px;
}

.pricing-table__standart {
  width: 284px;
  background-color: $standart;
}

.pricing-table__ultimate {
  width: 283px;
  background-color: $ultimate;
}

.pricing-table__premium {
  width: 277px;
  background-color: $premium;
}

.pricing-table__price {
  background-color: $row_price;
  height: 89px;
}

.pricing-table__option-plan {
  background-color: $option-plan;
  width: 313px;
  height: 159px;
}

.pricing-table__standart-price-container {
  display: grid;
  padding-bottom: 10px;
}

.pricing-table__standart-price {
  color: $text-color;
  font-family: Arimo;
  font-size: 60px;
  @include text-properties(700, 28px, uppercase);
}

.pricing-table__standart-price-price {
  display: grid;
  grid-row: 2/3;
  align-self: flex-end;
  justify-content: end;
}

.pricing-table__standart-price-index {
  color: $text-color;
  font-family: Arimo;
  font-size: 24px;
  @include text-properties(700, 28px, uppercase);
  grid-area: 1 / 2 / 2 / 2;
  text-align: start;
}

.pricing-table__standart-price-text {
  grid-row: 2/3;
  color: $text-color;
  font-family: Arimo;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.pricing-table__storage {
  height: 72px;
}

.pricing-table__storage,
.pricing-table__email,
.pricing-table__products {
  background-color: $light-gray-cells;
}

.pricing-table__bandwidth,
.pricing-table__support,
.pricing-table__users {
  background-color: $grey-cells;
}

.svg__margin {
  vertical-align: text-bottom;
  margin-right: 4.5px;
}

.pricing-table__standart,
.pricing-table__premium {
  color: $title-text;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  @include text-properties(700, 28px, uppercase);
}

.pricing-table__ultimate {
  color: $title-text;
  text-align: center;
  font-family: Arimo;
  font-size: 30px;
  @include text-properties(700, 28px, uppercase);
}

.text__decoration {
  color: $text-color;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.title__decoration {
  color: $text-color;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.pricing-table__text {
  color: $text-color;
  text-align: center;
  font-family: Arimo;
  font-size: 18px;
  @include text-properties(700, 28px, uppercase);
  margin: 0;
}

.pricing-table__title {
  color: $text-color;
  text-align: center;
  font-family: Arimo;
  font-size: 30px;
  @include text-properties(700, 28px, uppercase);
  margin: 0;
}

.button__text {
  color: $button-text;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.pricing-table__contact-us {
  background-color: $contact-us-background;
}

.pricing-table__buttons {
  background-color: $buttons-background-table1;
}

.border__right {
  border-right: 1px solid $border;
}
