.pricing-table-two {
  margin: 0 auto;
  width: 1161px;
  border-collapse: collapse;
  margin-bottom: 22px;
}

.pricing-table__option-plan-two {
  width: 201px;
  height: 115px;
  background: $option-plan;
}

.pricing-table__storage-two,
.pricing-table__email-two,
.pricing-table__products-two {
  background-color: $grey-cells;
  height: 115px;
}

.pricing-table__bandwidth-two,
.pricing-table__support-two,
.pricing-table__users-two {
  background-color: $light-gray-cells;
  height: 115px;
}

.pricing-table--border {
  border-bottom: 2px solid $border;
}

.pricing-table__standart-price-two {
  border: 0;
  height: 167px;
}

.pricing-table__standart-title {
  color: $title-text;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  @include text-properties(700, 28px, uppercase);
}

.pricing-table__standart-price-price-two {
  color: $title-text;
  text-align: center;
  font-family: Arimo;
  font-size: 36px;
  @include text-properties(700, 28px, uppercase);
  display: flex;
}

.pricing-table__standart-price-index-two {
  color: $title-text;
  text-align: center;
  font-family: Arimo;
  font-size: 18px;
  @include text-properties(700, 28px, uppercase);
  top: -0.5em;
}

.pricing-table__standart-price-container-two {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pricing-table__standart-price-text-two {
  color: $title-text;
  text-align: center;
  font-family: Arimo;
  font-size: 14px;
  @include text-properties(700, 28px, uppercase);
}

.pricing-table__text-two {
  color: $text-color;
  text-align: center;
  font-family: Arimo;
  font-size: 14px;
  @include text-properties(700, 28px, uppercase);
  margin: 0;
}

.pricing-table__title-two,
.pricing-table__storage-text-two,
.pricing-table__bandwidth-text-two,
.pricing-table__email-text-two,
.pricing-table__support-text-two,
.pricing-table__products-text-two,
.pricing-table__users-text-two {
  color: $text-color;
  text-align: center;
  font-family: Arimo;
  font-size: 20px;
  @include text-properties(700, 28px, uppercase);
  margin: 0;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pricing-table__option-two {
  border-bottom: 12px solid $background-main;
  height: 111px;
}

.pricing-table__option-plan-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
